<h1 class="oswald">Welcome to my travel site!</h1>
<p>You'll find your perfect vacation</p>

<p><%= @homestate %></p>

<ul>
<% @countries.each do |country| %>
	<li><%= country %></li>
<% end %>
</ul>

<p>
	<% @images.each do |image| %>
		<%= image_tag image, alt: 'image', class: "travel-pics img-responsive" %>
	<% end %>
</p>


